$primary: #00B8C4;
$primaryDark: #00A7B3;
$error: #E93939;
$errorDark: #D82828;
$neutral100: #F9F9F9;
$neutral200: #E6E6E6;
$neutral300: #CCCCCC;
$neutral400: #B3B3B3;
$neutral500: #8C8C8C;
$neutral600: #737373;
$neutral700: #595959;
$neutral800: #404040;
$neutral900: #262626;

$scrollbarWidth: 1rem;